/**STYLE: Template versão 4.0 **/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

@maincolor: #26c3c4;
@seccolor: #a96b6b;

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-text-size-adjust: none;
	background: url('img/loading.gif') no-repeat center;
}

main {
	opacity: 0;
	position: relative;
	width: 100%;
	height: 100%;
	color: @seccolor;
	background: #e7e7e7;
	max-width: 1280px;
	max-height: 720px;
	overflow: hidden;
	margin: auto;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Roboto Mono', monospace;
	box-shadow: 0 0 1.5em #404040;
	border-radius: 0.2em;

	img { width: 100%; display: block; }
	h1, h2, h3 { font-size: 1.5em; margin-bottom: 0.5em; color: @seccolor; text-transform: uppercase; }
	p { margin-bottom: 0.5em; }
	ul, ol { margin-left: 2em; text-align: left; }

	button {
		padding-top: 0.7em;
		padding-bottom: 1.1em;
		width: 30%;
		margin-top: 0.7em;
		cursor: pointer;
		text-transform: uppercase;
		color: white;
		font-family: inherit;
		font-weight: bold;
		box-sizing: border-box;
		background: url(img/bt.png) no-repeat;
		background-size: contain;
	}
	button:active { transform: translateY(0.1em); }

	.help {
		width: 6%;
		position: absolute;
		margin-top: 0;
		padding: 0.1em 0.5em;
		padding-bottom: 0.5em;
		top: 2%;
		left: 1.4%;
		font-size: 2em;
		color: white;
		z-index: 4;
		cursor: pointer;
	}

	.audio {
		width: 6%;
		position: absolute;
		padding: 0.25em 0.5em;
		padding-bottom: 0.5em;
		z-index: 7;
		font-size: 1.8em;
		left: 8%;
		top: -2.3%;
	}

	.help, .audio {
		background: url(img/bt-o.png) no-repeat;
		background-size: contain;
	}

	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
		z-index: 6;

		.modal {
			position: absolute;
			width: 77%;
			padding: 2%;
			top: 10%;
			left: 10%;
			text-align: center;
		}
	}

	.content {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		display: none;

		.score {
			position: absolute;
			color: @maincolor;
			font-size: 2em;
			top: 0.45em;
			right: 1.65em;
			transform: rotate(9deg);
			font-weight: bold;
			text-align: center;
			display: none;
		}

		.draggie {
			position: absolute;
			width: 75%;
			padding: 2%;
			bottom: 10%;
			left: 12%;
			border-radius: 0.5em;
			z-index: 4;

			div {
				width: 22%;
				margin: 0 1%;
				padding: 1em 0.2em;
				float: right;
				text-align: center;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
				background: url(img/pasta.png) no-repeat;
				background-size: contain;
				color: #7f5134;
			}
		}

		.droppie {
			position: absolute;
			width: 50%;
			height: 57%;
			padding: 2%;
			top: 0;
			right: 21.4%;
			z-index: 3;

			div {
				width: 33%;
				height: 100%;
				float: left;
				text-align: center;
				padding: 0.5em;
				border-radius: 0.5em;
				margin: 0.5em 6.5%;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
				background: url(img/caixa.png) no-repeat;
				background-size: contain;

				p {
					color: #7f5134;
					text-transform: uppercase;
					margin-top: 98%;
					font-size: 95%;
				}
			}
		}

		.quiz {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;

			section {
				position: absolute;
				width: 100%;
				height: 100%;
				display: none;
				background: url(img/back.png) no-repeat 15%;
				background-size: contain;

				.enun {
					position: absolute;
					background: url(img/enun.png) no-repeat;
					background-size: contain;
					padding: 0 12%;
					padding-top: 8%;
					height: 18.7%;
					width: 76%;
					bottom: 0;
					color: white;
					font-size: 90%;
				}

				ul {
					position: absolute;
					width: 92.5%;
					height: 50%;
					margin: 1% 2em;
					margin-top: 9.89%;
					text-align: center;
					list-style: none;
					background: url(img/arquivo.png) no-repeat;
					background-size: contain;

					li {
						width: 18%;
						cursor: pointer;
						padding: 0.4em 0.5em;
						margin: 0;
						margin-top: -0.98%;
						background: #FAEFE5;
						border-radius: 0.8em;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						border-top: 0.1em solid @seccolor;
					}

					li:hover {
						text-shadow: 0 0 0.5em white;
						font-style: italic;
						font-weight: bold;
					}

					li:nth-child(1) { margin-top: 0 !important; }
					li:nth-child(2) { margin-left: 20%; }
					li:nth-child(6) { margin-left: 5%; }
					li:nth-child(3) { margin-left: 46%; }
					li:nth-child(7) { margin-left: 25.5%; }
					li:nth-child(4) { margin-left: 68%; }
					li:nth-child(8) { margin-left: 60.4%; }
					li:nth-child(5) { margin-left: 44%; }

					li:nth-child(2) { width: 22% !important; }
					li:nth-child(7), li:nth-child(8) { width: 32% !important; }
				}

				.verify { opacity: 0.6; pointer-events: none; width: 24%; }
			}
			section:nth-child(1) { display: block; }
		}
	}

	.blink { animation: blink 0.5s linear infinite; }
	@keyframes blink { 50% { opacity: 0; } }
}

@media screen and (max-width: 1280px) {
	main {
		font-size: 1.8vw;
		width: 100vw;
		height: 56vw;
	}
}

@media screen and (max-height: 720px) {
	main {
		font-size: 3.3vh;
		width: 177vh;
		height: 100vh;
	}
}
